@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
}
.body{
  font-family: "Open Sans", sans-serif;
}
.banner{
  background-image: url('../assets/Hero-bg.png');
  height: 400px;
  
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.banner-pic{
  justify-content: center;
  align-items: center;
  /* width: 1915px;
  height: 865px; */
}

.banner-content{
  width: 668px;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 18px 148 px;

}
.hero-heading{
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 20px;


}
.banner-pic{
  width: 160px;
  height: 160px;
}

.hero-description{
  text-align: center;
  color: #0D1321;
  margin-bottom: 20px;


}
.btn{
  background-color: #0D1321;
  color: white;
  border-radius: 8px;
  padding:10px 15px;
  cursor: pointer;
}

.first-part{
  display: flex;
  justify-content: space-around;
  width: 635px;
  height: 225px;
  gap: 100px;
  margin-bottom: 40px;;
}
.second-part{
  flex-direction: row-reverse;
}

.web-development{
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  margin-top: 150px;;
  

  

}

.text-center{
  text-align: center;
}
.web-title{
  width: 570px;
  margin-bottom: 80px;
}

.margin{
  margin-bottom: 20px;
  
}
.web-development img{
  height: 160px;
  width: 160px;
}

.learn-more{

  color: black;
  padding: 10px 10px;
  cursor: pointer;
}

.first-part-content{
  width: 320px
}

.my-inspiration{
  /* max-width: 765px;
  max-height: 550px; */
  height: 600px;
}

.skills-container{
  display: flex;
  gap: 20px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.skills{
  height: 500pxpx;
  width: 760px;
  
  justify-content: center;
  align-items: center;
  text-align: center;

  
}

.skill{
  padding: 30px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;

}
